@model List<CarDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">@Ui.Resources.Resource.GetString("Car List")</h4>
                        <p class="card-subtitle mb-4">
                            @Ui.Resources.Resource.GetString("This page enables users to add, delete, update, and list cars for efficient vehicle management.")
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>@Ui.Resources.Resource.GetString("BrandName")</th>
                                        <th>@Ui.Resources.Resource.GetString("Model")</th>
                                        <th>@Ui.Resources.Resource.GetString("Transmission")</th>
                                        <th>@Ui.Resources.Resource.GetString("Milesone")</th>
                                        <th>@Ui.Resources.Resource.GetString("Delete")</th>
                                        <th>@Ui.Resources.Resource.GetString("Update")</th>
                                        <th>@Ui.Resources.Resource.GetString("Details")</th>
                                        <th>@Ui.Resources.Resource.GetString("View in Site")</th>
                                        <th>@Ui.Resources.Resource.GetString("Price Information")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <th scope="row">@count</th>
                                            <td>@item.BrandName</td>
                                            <td>@item.Model</td>
                                            <td>@item.Transmission</td>
                                            <td>@item.Km</td>
                                            <td><a href="/AdminCar/DeleteCar/@item.id" class="btn btn-outline-danger">@Ui.Resources.Resource.GetString("Delete")</a></td>
                                            <td><a href="/AdminCar/UpdateCar/@item.id" class="btn btn-outline-success">@Ui.Resources.Resource.GetString("Update")</a></td>
                                            <td><a href="/CarList/CarDetail/@item.id" class="btn btn-outline-dark">@Ui.Resources.Resource.GetString("Details")</a></td>
                                            <td><a href="/CarList/CarDetail/@item.id" class="btn btn-outline-warning">@Ui.Resources.Resource.GetString("View in Site")</a></td>
                                            <td><a href="/CarList/CarDetail/@item.id" class="btn btn-outline-secondary">@Ui.Resources.Resource.GetString("Price Information")</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <td><a href="/AdminCar/CreateCar" class="btn btn-outline-primary">@Ui.Resources.Resource.GetString("Add new Car")</a></td>
                        </div>

                    </div>
                    <!-- end card-body-->
                </div>
                <!-- end card -->

            </div>
            <!-- end col -->
        </div>
        <!-- end page title -->

    </div> <!-- container-fluid -->
</div>
