<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <div class="navbar-brand-box">
            <a href="index.html" class="logo">
                <i class="mdi mdi-alpha-x-circle"></i>
                <span>
                    BookCar Admin
                </span>
            </a>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu" style="width: 250px;">
                <li class="menu-title">Menu</li>

                <li><a href="/Admin/AdminDashboard/Index" class="waves-effect"><i class="feather-airplay"></i><span>@Ui.Resources.Resource.GetString("Dashboard")</span></a> </li>
                <li><a href="/Admin/AdminStatistics/Index/" class="waves-effect"><i class="fas fa-chart-pie"></i><span>@Ui.Resources.Resource.GetString("Statistics")</span></a> </li>
                <li><a href="/Default/Index/" class="waves-effect"><i class="fas fa-home"></i><span>@Ui.Resources.Resource.GetString("Go Site")</span></a> </li>
                <li><a href="/AdminRoles/Index/" class="waves-effect"><i class="fas fa-chalkboard-teacher"></i><span>@Ui.Resources.Resource.GetString("Roles")</span></a> </li>
                <li><a href="/AdminCar/Index/" class="waves-effect"><i class="fas fa-car"></i><span>@Ui.Resources.Resource.GetString("Car Operations")</span></a></li>
                <li><a href="/AdminFeature/Index/" class="waves-effect"><i class="fas fa-bus"></i><span>@Ui.Resources.Resource.GetString("Car Features")</span></a></li>
                <li><a href="/AdminBrand/Index/" class="waves-effect"><i class="fas fa-business-time"></i><span>@Ui.Resources.Resource.GetString("Brands")</span></a></li>
                <li><a href="/Admin/AdminHome/Index/" class="waves-effect"><i class="fas fa-broom"></i><span>@Ui.Resources.Resource.GetString("Home Page")</span></a></li>
                <li><a href="/Admin/AdminAbout/Index/" class="waves-effect"><i class="fas fa-info"></i><span>@Ui.Resources.Resource.GetString("About us")</span></a></li>
                <li><a href="/Admin/AdminAuthor/Index/" class="waves-effect"><i class="fas fa-pencil-alt"></i><span>@Ui.Resources.Resource.GetString("Author")</span></a></li>
                <li><a href="/Admin/AdminCategory/Index/" class="waves-effect"><i class="fas fa-certificate"></i><span>@Ui.Resources.Resource.GetString("Blog Categories")</span></a></li>
                <li><a href="/Admin/AdminBlog/Index/" class="waves-effect"><i class="fas fa-blog"></i><span>@Ui.Resources.Resource.GetString("Blog Operations")</span></a></li>
                <li><a href="/Admin/AdminPricing/Index/" class="waves-effect"><i class="fas fa-money-bill-alt"></i><span>@Ui.Resources.Resource.GetString("Payment Types")</span></a></li>
                <li><a href="#" class="waves-effect"><i class="fas fa-comment-dots"></i><span>@Ui.Resources.Resource.GetString("Comments")</span></a></li>
                <li><a href="/Admin/AdminContact/Index/" class="waves-effect"><i class="fas fa-phone"></i><span>@Ui.Resources.Resource.GetString("Contact")</span></a></li>
                <li><a href="/Admin/AdminFooterAddress/Index/" class="waves-effect"><i class="fas fa-map-marked-alt"></i><span>@Ui.Resources.Resource.GetString("Address")</span></a></li>
                <li><a href="/Admin/AdminLocation/Index/" class="waves-effect"><i class="fas fa-map-marker-alt"></i><span>@Ui.Resources.Resource.GetString("Locations")</span></a></li>
                <li><a href="/Admin/AdminService/Index/" class="waves-effect"><i class="fas fa-anchor"></i><span>@Ui.Resources.Resource.GetString("Services")</span></a></li>
                <li><a href="/Admin/AdminSocialMedia/Index/" class="waves-effect"><i class="fas fa-tv"></i><span>@Ui.Resources.Resource.GetString("Social Media")</span></a></li>
                <li><a href="/Admin/AdminTestimonial/Index/" class="waves-effect"><i class="fas fa-people-carry"></i><span>@Ui.Resources.Resource.GetString("References")</span></a></li>
                <li><a href="#" class="waves-effect"><i class="fas fa-hashtag"></i><span>@Ui.Resources.Resource.GetString("Tag Clouds")</span></a></li>
                <li><a href="#" class="waves-effect"><i class="fas fa-plug"></i><span>@Ui.Resources.Resource.GetString("Settings")</span></a></li>
                <li><a href="#" class="waves-effect"><i class="fas fa-window-close"></i><span>@Ui.Resources.Resource.GetString("Log Out")</span></a></li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect"><i class="feather-copy"></i><span>@Ui.Resources.Resource.GetString("Pages")</span></a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="pages-invoice.html">@Ui.Resources.Resource.GetString("Invoice")</a></li>
                        <li><a href="pages-starter.html">@Ui.Resources.Resource.GetString("Starter Page")</a></li>
                        <li><a href="pages-maintenance.html">@Ui.Resources.Resource.GetString("Maintenance")</a></li>
                        <li><a href="pages-faqs.html">@Ui.Resources.Resource.GetString("FAQs")</a></li>
                        <li><a href="pages-pricing.html">@Ui.Resources.Resource.GetString("Pricing")</a></li>
                        <li><a href="pages-login.html">@Ui.Resources.Resource.GetString("Login")</a></li>
                        <li><a href="pages-register.html">@Ui.Resources.Resource.GetString("Register")</a></li>
                        <li><a href="pages-recoverpw.html">@Ui.Resources.Resource.GetString("Recover Password")</a></li>
                        <li><a href="pages-lock-screen.html">@Ui.Resources.Resource.GetString("Lock Screen")</a></li>
                        <li><a href="pages-404.html">@Ui.Resources.Resource.GetString("Error 404")</a></li>
                        <li><a href="pages-500.html">@Ui.Resources.Resource.GetString("Error 500")</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>